
.nav-bar-container{
  margin-bottom: 527px;
}

.nav-bar{
  height: 60px;
  width: 60px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Quicksand', sans-serif;
  opacity: 0.9;
  text-decoration: none;
}

.nav-bar:hover{
  opacity: 1.0;
  cursor: pointer;
}

.nav-menu-item{
  text-decoration: none;
  color: black;
}

.about-container{
  width: 100%;
  display: flex;
  background-image: url('./pics/good-one.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter:saturate(1.5);
}

.about-pic{
  display: flex;
  width: 100%;
}

.about-img-el{
  display: flex;
  width: 100%;
}

.about-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about-header{
  font-family: 'Quicksand', sans-serif;
}

.intro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  background-color: antiquewhite;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: .9;
  font-size: 18px;
}

.intro-container:hover{
  opacity: 1.0;
}

.App-intro {
  width: 75%;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  line-height: 20px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 900px){
  .intro-container{
    width: 80%;
  }
}

@media only screen and (max-width: 474px){
  .intro-container{
    width: 75%;
    opacity: 1;
  }
  .about-container {

  }
  .about-content{
    flex-flow: column;
  }
  .nav-bar-container{
    display: flex;
    margin-bottom: 0px;
    width: 75%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-menu-item{
    width: 50%;
  }

  .nav-bar{
    width: 100%;
    border-radius: initial;
  }
}