body{
  overflow-y: hidden;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  background-image: url("./pics/DSCN0030.JPG");
  background-size: 100% 750px;
  background-repeat: no-repeat;
  height: 710px;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:saturate(1.5);
}

.transparent-header{
  height: 50%;
  width: 50%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  margin-bottom: 10%;
  transition: letter-spacing 0.5s;
}

.transparent-header h1{
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
}

.transparent-header:hover{
  opacity: 0.9;
  letter-spacing: 2px;
}

.nav-menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0px;
}

.nav-element{
  transition: letter-spacing 0.5s;
  width: 50%;
}

.nav-element:hover{
  letter-spacing: 2px;
  cursor: pointer;
}

.menu-item{
  text-decoration: none;
  color: black;
}

#watercolor-svg{
  width: 25%;
  height: auto;
  opacity: 1;
}

.intro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  background-color: antiquewhite;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: .9;
  font-size: 18px;
}

.intro-container:hover{
  opacity: 1.0;
}

.App-intro {
  width: 75%;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  line-height: 20px;
  margin-bottom: 0px;
}

.nav-bar-container{
  margin-bottom: 527px;
}

.nav-bar{
  height: 60px;
  width: 60px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Quicksand', sans-serif;
  opacity: 0.9;
  text-decoration: none;
}

.nav-bar:hover{
  opacity: 1.0;
  cursor: pointer;
}

.nav-menu-item{
  text-decoration: none;
  color: black;
}

.about-container{
  height: 765px;
  width: 100%;
  display: flex;
  background-image: url('./pics/good-one.jpg');
  background-repeat: no-repeat;
  background-size: 100% 755px;
  filter:saturate(1.5);
}

.about-pic{
  display: flex;
  width: 100%;
}

.about-img-el{
  display: flex;
  width: 100%;
}

.about-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
