body{
  background-color: antiquewhite;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: indianred;
  background-image: url("./pics/DSCN0030.JPG");
  background-size: 100% 750px;
  background-repeat: no-repeat;
  height: 710px;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(1.5);
}

.transparent-header{
  height: 50%;
  width: 50%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  margin-bottom: 10%;
  transition: letter-spacing 0.5s;
}

.transparent-header h1{
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 25px;
}

.transparent-header:hover{
  opacity: 0.9;
}

.nav-menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0px;
}

.nav-element{
  transition: letter-spacing 0.5s;
  width: 50%;
}

.nav-element:hover{
  letter-spacing: 2px;
  cursor: pointer;
}

.menu-item{
  text-decoration: none;
  color: black;
  font-size: 1.4em;
}

.menu-item:hover{
  color: indianred;
}

#watercolor-svg{
  width: 25%;
  height: auto;
  opacity: 1;
}

@media only screen and (max-width: 900px){
  .transparent-header{
    width: 95%;
  }
}

@media only screen and (max-width: 736px){
  body{
    background-color: indianred;
  }

  .App-header{
    background-image: none;
  }

  .transparent-header h1{
    margin-bottom: 45px;
  }

  #watercolor-svg{
    width: 40%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
