.gallery-page{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gallery-container{
  background-color: indianred;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.gallery-header{
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: white;
}

.routes{
  display: none;
}

.grid-container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.imageGrid{
  width: 100%;
}

.imageGridItem{
  transition: all .2s ease-in-out;
}

.imageGridItem:hover{
  transform: scale(1.1);
}

.preview-container{
    padding-top: 60px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    justify-content: center;
    height: 100%;
}

/*a img {
  transition: all .2s ease-in-out;
}

a img:hover{
  transform: scale(1.025);
}*/

/* vvvvvvv All but the hovered element is opacity:.75 */

#Gallery:hover > div{
  opacity: 0.75;
}

#Gallery:hover > div:hover {
  opacity: 1.0;
}

@media only screen and (min-width: 737px){
  .routes{
    display: none;
  }
}

@media only screen and (max-width: 736px){
  .routes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }

  .gallery-menu{
    text-decoration: none;
  }

  .gallery-link{
    color: indianred;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
  }
}